[Unit]
Description=Looking glass for Bird (web)
Requires=network.target
After=network.target

[Service]
Type=simple
User=lgweb
Group=lgweb
ExecStart=python /opt/bird-lg/lg.py

[Install]
WantedBy=multi-user.target
