[Unit]
Description=Looking glass for Bird (proxy)
Requires=network.target
After=network.target

[Service]
Type=simple
User=lgproxy
Group=lgproxy
ExecStart=/usr/bin/python /opt/bird-lg/lgproxy.py

[Install]
WantedBy=multi-user.target
